DISCORD_TOKEN=YOUR_TOKEN_HERE

# IF YOU ARE INTERESTED IN A BOT HOSTED ON A RASPBERRY PI SERVER WITH CI/CD PIPELINE USING GITHUB WEBHOOKS TO UPDATE ON EACH PUSH TO THE REPO
# WEBHOOK_SECRET=YOUR_SECRET_HERE
# FILE_PATH=YOUR_REPO_FILE_PATH_HERE

# IF YOU ARE INTERESTED IN USING RIOT API
# RIOT_API_KEY=YOUR_API_KEY_HERE